.footer {
background: rgb(160, 157, 157);
padding-top: 50px;
padding-bottom: 15px;
}

.footer_logo i {
color: black;
font-weight: 400;
}

.footer_logo span {
color: black;
font-weight: 500;
}

.footer_logo-content {
color: black;
margin-top: 15px;
line-height: 30px;
}


.office_info {
color:black;
font-weight: 300;
}

.newsletter {
display: flex;
align-items: center;
justify-content: space-between;
padding: 8px 12px;
border: 1px solid #7c8a972f;
border-radius: 50px;
background: #020a4de9;
}

.newsletter input {
background: transparent;
color: #ada4a4;
border: none;
outline: none;
}

.newsletter span i {
color: #9a9191;
}

.footer_bottom {
border-top: 1px solid #0809092f;
}

@media only screen and (max-width: 768px) {
.footer_logo-content {
  font-size: 0.8rem;
}

.quick_link,
.office_info {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer_bottom p {
  font-size: 0.7rem;
}

}
