.slider_item {
max-width: 100%;
height: 850px;
}

.slider_item-01 {
background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
  url("../assets/all-images/slider-img/slider-1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.slider_item-02 {
background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
  url("../assets/all-images/slider-img/slider-2.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.slider_item-03 {
background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
  url("../assets/all-images/slider-img/slider-3.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.hero_slider {
overflow: hidden;
}

.slider_content {
padding-top: 150px;
}

.slider_content h1 {
font-size: 3.2rem;
font-weight: 600;
}

.reserve_btn {
background: #fff !important;
color: #000d6b !important;
border: none;
outline: none;
}

.reserve_btn a {
text-decoration: none;
font-weight: 600;
color: #000d6b;
}

.reserve_btn:hover {
background: #000d6b;
color: #fff;
}

@media only screen and (max-width: 992px) {
.slider_item {
  height: 530px;
  max-width: 100vw;
}

.slider_content {
  margin-top: -50px;
}

.slider_content h1 {
  font-size: 2rem;
}
}

@media only screen and (max-width: 768px) {
.slider_item {
  height: 450px;
}

.slider_content h1 {
  font-size: 1.5rem;
}
}
